<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- 
    - primary meta tags
  -->
    <title>Republic Of Engineers</title>
    <meta name="title" content="Adex">
    <meta name="description" content="This is a business agency html template made by codewithsadee">

    <!-- 
    - favicon
  -->
    <link href="/images/logo_white_title.png" rel="icon">
    <link rel="shortcut icon" href="./favicon.svg" type="image/svg+xml">



    <!-- 
    - google font link
  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">


    <!-- 
    - custom css link
  -->
    <link rel="stylesheet" href="/css/style.css">

    <!-- 
    - preload images
  -->
    <link rel="preload" as="image" href="/images/hero-bg.jpg">
    <link rel="preload" as="image" href="/images/hero-slide-1.jpg">
    <link rel="preload" as="image" href="/images/hero-slide-2.jpg">
    <link rel="preload" as="image" href="/images/hero-slide-3.jpg">

    <style>

        a {
            text-decoration: none;
        }
        a:hover{
            color:white;
        }

        .content-container {
            margin-top: 120px;
        }

        small {
            font-family: 'manrope', sans-serif;
            font-weight: lighter;
        }
    </style>

</head>

<body>

    <!-- 
    - #HEADER
  -->

    <header class="inner-header" data-header>
        <div class="container">

            <a href="user_dashboard" class="logo">
                <img src="/images/logo_white.png" width="84" height="24" alt="Adex home" class="logo-light">
                <h1 class="logo-light logo-text">Republic of uncles</h1>

                <img src="/images/logo.png" width="84" height="24" alt="Adex home" class="logo-dark">
                <h1 class="logo-dark logo-text">Republic of boys</h1>
            </a>


            <nav class="navbar" data-navbar>

                <div class="navbar-top">
                    <a href="#" class="inner-logonav">
                        <span class="inner-logo-navtext">
                            <img src="/images/logo_white.png" width="84" height="34" alt="Adex home">
                            <span>ROE</span>
                        </span>
                    </a>


                    <button class="nav-close-btn" aria-label="close menu" data-nav-toggler>
                        <ion-icon name="close" aria-hidden="true"></ion-icon>
                    </button>
                </div>

                <ul class="navbar-list">

                    <li>
                        <a href="user_dashboard" class="navbar-link">Home</a>
                    </li>

                    <li>
                        <a href="profile" class="navbar-link">My Profile</a>
                    </li>

                    <li>
                        <a href="#" class="navbar-link">Settings</a>
                    </li>


                    <li>
                        <a href="/logout" class="navbar-link">Logout</a>
                    </li>
                </ul>

                <div class="wrapper">
                    <a href="mailto:republicofengineers.sns@gmail.com"
                        class="contact-link">republicofengineers.sns@gmail.com</a>

                    <a href="tel:7090930457" class="contact-link">+91 7090930457</a>
                </div>

                <ul class="social-list">

                    <li>
                        <a href="#" class="social-link">
                            <ion-icon name="logo-twitter"></ion-icon>
                        </a>
                    </li>

                    <li>
                        <a href="#" class="social-link">
                            <ion-icon name="logo-facebook"></ion-icon>
                        </a>
                    </li>

                    <!-- <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-dribbble"></ion-icon>
            </a>
          </li> -->

                    <li>
                        <a href="https://www.instagram.com/republic.of.engineers" class="social-link">
                            <ion-icon name="logo-instagram"></ion-icon>
                        </a>
                    </li>

                    <li>
                        <a href="#" class="social-link">
                            <ion-icon name="logo-youtube"></ion-icon>
                        </a>
                    </li>

                </ul>

            </nav>




            <button class="nav-open-btn" aria-label="open menu" data-nav-toggler>
                <ion-icon name="menu-outline" aria-hidden="true"></ion-icon>
            </button>

            <div class="overlay" data-nav-toggler data-overlay></div>

        </div>
    </header>


    <!--------------------------------------------------------------------cards--------------------------------->
    <div class="container content-container">
        <div class="row">
            <div class="col-12 col-md-4">
                <div class="ag-courses_item">
                    <a href="placement" class="ag-courses-item_link">
                        <div class="ag-courses-item_bg"></div>

                        <div class="ag-courses-item_title">
                            Placement Training<br> <small>Register Now</small>
                        </div>

                    </a>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="ag-courses_item">
                    <a href="#" class="ag-courses-item_link">
                        <div class="ag-courses-item_bg"></div>

                        <div class="ag-courses-item_title">
                            Daily Updates <br> <small>In Progress</small>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="ag-courses_item">
                    <a href="#" class="ag-courses-item_link">
                        <div class="ag-courses-item_bg"></div>

                        <div class="ag-courses-item_title">
                            Clubs <br> <small>In Progress</small>
                        </div>
                    </a>
                </div>
            </div>

        </div>
    </div>



    <!-- 
    - #FOOTER

  -->

    <footer class="inner-footer">
        <hr>
        <p class="inner-footer-text">
            &copy; 2024 Republic Of Engineers. All rights reserved.
        </p>
    </footer>




    <!-- 
    - custom js link
  -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/script.js"></script>


    <!-- 
    - ionicon
  -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>